<!-- ============================================================== -->
<!-- toggle and nav items -->
<!-- ============================================================== -->
<ul class="navbar-nav float-start me-auto">
  <li class="nav-item">
    <a  *ngIf="role==='ADMIN'" class="nav-link waves-effect waves-dark" routerLink="/user-management"> Gestion des utilisateur </a>

  <!-- ============================================================== -->
  <!-- create new -->
  <!-- ============================================================== -->

</ul>
<!-- ============================================================== -->
<!-- Right side toggle and nav items -->
<!-- ============================================================== -->
<ul class="navbar-nav float-end">
  <!-- ============================================================== -->
  <!-- User profile and search -->
  <!-- ============================================================== -->
  <li class="nav-item" ngbDropdown placement="bottom-end">
    <div class="dropdown-menu-right" ngbDropdownMenu>
      <a class="dropdown-item" *ngIf="isLoggedIn" routerLink="/login" (click)="handleLogout()"> Logout</a>
    </div>
  </li>
  <!-- ============================================================== -->
  <!-- User profile and search -->
  <!-- ============================================================== -->
</ul>
