<section class="h-100 h-custom" style="background-color: #8fc4b7;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
              class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
              alt="Sample photo">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Registration Info</h3>
  
              <form class="px-md-2" [formGroup]="userform">
  
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1q" class="form-control" formControlName="userName" placeholder="username" />
                  <label class="form-label" for="form3Example1q" >User name</label>
                </div>
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1q" class="form-control" formControlName="email" placeholder="email" />
                  <label class="form-label" for="form3Example1q" >email</label>
                </div>
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1q" class="form-control" formControlName="password" placeholder="password" />
                  <label class="form-label" for="form3Example1q" >password</label>
                </div>

                
                <button type="submit" class="btn btn-success btn-lg mb-1" (click)="ajouter()">Submit</button>
  
              </form>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>